{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "safari >= 7", "not ie <= 10"]
      },
      "debug": true
    }],
    "es2017"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
